html,
body {
  padding: 0;
  margin: 0;
  background-image: url('/img/jpg/Gucci-Block-wallpaper.jpg');
  background-size: 10% 15%;
  background-position: 0px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
